# string format

python uses C-style string formatting to create new, formatted strings. The "%"operator is used to format a set of variables enclosed in a "tuple"(a fixed size list), toghter with a format string, which contains noormal text toghter with " argument specifiers", special symbols like "%s" and "%d".

In [4]:
#this prints out "hello , maruti!"
name = "marutui"
print("hello, %s!" % name)

hello, marutui!

In [5]:
#this print out " hello, ajay!"
name = "ajay"
print("hello, %s!" % name)

hello, ajay!

In [5]:
print("hello,",name,"!")

hello, marutui !

In [6]:
#this prints out "maruti is 23 years old."
name = "maruti"
age = 23
print("%s is %d years old." % (name, age))

maruti is 23 years old.

In [6]:
#this prints out "ajay is 23 years old."
name = "ajay"
age = 23
print("%s is %d years old" % (name,age))

ajay is 23 years old

In [7]:
x="apple"
y="lemons"
z=" i have %s and %s" %(x,y)
print(z)

 i have apple and lemons

In [7]:
x="banana"
y="chikuu"
z=" i have %s and %s" %(x,y)
print(z)

 i have banana and chikuu

In [13]:
#use dot(.)format
x="banana"
y="chikuu"
z=" i have {} and {}.".format(x,y)
print(z)

 i have banana and chikuu.

In [9]:
#this prints out "ajay is 23 years old." # string and .(dot) format
name = "ajay"
age = 23
print("his name is {} he is {} years old.".format(name,age))

his name is ajay he is 23 years old.

In [11]:
#this prints out "ashu is 23 years old." # string and .(dot) format
name = "ashu"
age = 25
print("she name is{} she is {} years old.".format(name,age))

she name isashu she is 25 years old.

In [15]:
print('{0} and {1}'.format('apple','banana'))
print('{1} and {0}'.format('apple','banana'))

apple and banana
banana and apple

# basic function

1) in- built perdefined function
2) user perdefined function
3)anorymous(lambda)function

built in functions------------

https://docs.python.org/3/library/functions.html

In [ ]:
help(),print(),int(),float(),str(),type(),range(),min(),max(),len(),input(),list()

In [23]:
help()

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [24]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [25]:
k=[40,90,22,78,88,44,67]
min(k)

22

In [26]:
max(k)

90

# user defined()

In [27]:
# function definition

In [28]:
def function1():
    print("hello maruti")

In [29]:
#function calling
function1()

hello maruti

In [30]:
def function2():
    print("hii i am doing data sceince course")

In [31]:
function2()

hii i am doing data sceince course

In [32]:
def addfunction():
    a=10
    b=20
    c=a+b
    print("addition of a and b=",c)

In [33]:
#addfunction calling
addfunction()

addition of a and b= 30

In [36]:
def multiplyfunction():
    x=5
    y=4
    z=x*y
    print("multiply of x and y=",z)

In [37]:
#multiplyfunction calling
multiplyfunction()

multiply of x and y= 20

In [38]:
def concatfunction():
    string1="data"
    string2="science"
    print(string1+string2)

In [39]:
concatfunction()

datascience

In [2]:
def concatfunction():
    string1="data"
    string2="science"
    print("string concatenation =")
    print(string1+string2)

In [9]:
#jar datascience mdy gayp hav tr do 
def concatfunction():
    string1="data"
    string2="science"
    print("string concatenation =")
    print(string1+" "+string2)

In [10]:
concatfunction()

string concatenation =
data science

In [5]:
def area_of_rectangle_function():
    a=70
    b=8
    c=a*b
    print(" area of rectangle =",c)

In [7]:
area_of_rectangle_function()

 area of rectangle = 560

In [8]:
#function definition

def area_of_rectangle_function():
    a=70
    b=8
    c=a*b
    print(" area of rectangle =",c)
    
#function calling
area_of_rectangle_function()

 area of rectangle = 560

In [11]:
def cricle_area_function():
    radius=int(input("enter the value of radius"))
    pi=3.14;;.
    area=pi*(radius**2)
    print("the area of circle with radius",radius," =",area)

In [12]:
cricle_area_function()

enter the value of radius9
the area of circle with radius 9  = 254.34

In [13]:
def area_of_rectangle_function():
    length=50
    breadth=6
    area=length*breadth
    print("area of rectangle =",area)

In [14]:
area_of_rectangle_function()

area of rectangle = 300

In [15]:
def area_of_rectangle_function():
    length=100
    breadth=20
    area=length*breadth
    print("area of rectangle =",area)
    
#function calling on the same run line
area_of_rectangle_function()

area of rectangle = 2000

# function with parameters

In [16]:
def addition_funcction_with_parameters(a,b):
    c=a+b
    print("the value =",c)

In [18]:
addition_funcction_with_parameters(a,b)

NameError: name 'a' is not defined

# if not given value than error will show like this

In [20]:
addition_funcction_with_parameters(10,20)

the value = 30

In [23]:
def subtraction_function(x,y):
    z=x-y
    print("the value =",z)

In [24]:
subtraction_function(80,30)

the value = 50

In [25]:
def multiply_function(a,b):
    c=a*b
    print("the value =",c)

In [26]:
multiply_function(50,5)

the value = 250

In [27]:
#take 3 values and do the add function
def addtion_function(a,b,c):
    add=a+b+c
    print("addition =",add)

In [28]:
addtion_function(10,20,30)

addition = 60

In [29]:
def division_function(x,y):
    z=x/y
    print("the value =",z)

In [30]:
division_function(20,5)

the value = 4.0

In [7]:
def runfun():
    print("inside function")
    for i in [1,2,3,4,5,6]:
           print(i)

In [8]:
runfun()

inside function
1
2
3
4
5
6

In [9]:
#out want in horizontal way 
def runfun():
    print("inside function")
    for i in [1,2,3,4,5,6]:
           print(i,end =" ")

In [10]:
runfun()

inside function
1 2 3 4 5 6

In [11]:
def outsidefunction():
    print("outside function")
    runfun()

In [12]:
outsidefunction()

outside function
inside function
1 2 3 4 5 6

In [14]:
def addition_function(a,b):
    c=a+b
    print("the value =",c)

In [17]:
x=int(input("enter value of x"))
y=int(input("enter value of y"))

addition_function(x,y)

enter value of x50
enter value of y100
the value = 150

In [18]:
def addition_function(a,b):
    c=a+b
    print("the value =",c)

In [19]:
addition_function(50,100)

the value = 150

In [ ]:
s